.title-page {
    margin-top: 1em;
    text-align: center;
}

.btn-add-post {
    padding: 2em;;
    margin-left: 8em;
}

.name-post {
    margin-left: 8em;
    width: 50%;
}

.post-message {
    margin-top: 2em;;
    margin-left: 8em;
    width: 50%;
}

/* .btn-see-more {
    text-align: ;
} */